@media screen and (min-width: 768px) {

	.mainNavigation--toggle {
		display: none;
	}

	.mainNavigation {
		position: static;
	}

	.mainNavigation--menu {
		box-shadow: none;
		display: block;
		position: static;
	}

	.mainNavigation--menuItem {
		border: 0;
		float: left;
	}

	/* Mainmenu links */
	.mainNavigation--menuItem a {
		color: #6f6f6e;
		float: left;
		line-height: 50px;
		font-size: 0.9em;
		font-weight: bold;
		padding: 0 15px;
		text-decoration: none;
		text-transform: uppercase;
	}

	.mainNavigation--menuItem a:hover,
	.mainNavigation--menu .is-active > a,
	.mainNavigation--menu .is-active-ancestor > a {
		color: turquoise;
	}

	.mainNavigation--subMenuToggle {
		display: none;
	}

	/* dropdown submenu */
	.mainNavigation--menuItem:hover > .mainNavigation--subMenu {
		background: #fff;
		top: 100%;
		display: block;
		min-width: 200px;
		position: absolute;
		z-index: 100;
	}

	/* Submenu links */
	.mainNavigation--subMenu a {
		float: none;
		font-weight: normal;
		line-height: 25px;
		text-transform: lowercase;
	}

	/* make all sub-sub menu-items visible */
	.mainNavigation--subMenu .mainNavigation--subMenu {
		display: block;
	}

	/* dropdown submenu of last item should be right aligned so it doesn't fall of the screen */
	.mainNavigation--menuItem:last-child > .mainNavigation--subMenu {
		right: 0;
	}

}

@media screen and (min-width: 1024px) {

}
